@import "function";

// color
$symbolColor1: rgb(93, 152, 197);
$symbolColor2: rgb(103, 78, 130);

$basicColor1: rgb(61, 61, 61);
$basicColor2: rgb(107, 107, 107);
$basicColor3: rgb(228, 226, 226);
$basicColor4: rgb(244, 244, 244);

$mainColor1: rgb(106, 155, 204);
$mainColor2: rgb(92, 135, 171);
$mainColor3: rgb(216, 102, 76);

$diagramColor1: hsb(180, 30, 70);
$diagramColor2: hsb(190, 30, 70);
$diagramColor3: hsb(200, 30, 70);
$diagramColor4: hsb(210, 30, 70);
$diagramColor5: hsb(220, 30, 70);
$diagramColor6: hsb(230, 30, 70);
$diagramColor7: hsb(10, 40, 90);
$diagramColor8: hsb(20, 40, 90);
$diagramColor9: hsb(30, 40, 90);
$diagramColor10: hsb(40, 40, 90);

$fontColor1: #3d3d3d;
$fontColor2: #666666;
$fontColor3: #9d9d9d;
$fontColor4: #cccccc;
$fontColor5: #d8d8d8;
$fontColor6: #ffffff;
$fontColor7: #6a9bcc;
$fontColor8: #d5664d;


// size
$headBarHeight: 80px;
$sideBarWidth: 100px;
$statusBarHeight: 50px;
